<table class="staff-table">
  {% for staff_member in include.staff_list %}
  <tr>
    <td class="staff-card" id="{{ staff_member.name | slugify }}">
      <h3 class="nomargin-top">
        {{ staff_member.name }}
      </h3>
      <img src="{{ staff_member.image }}" alt="{{ staff_member.name }}" class="staff-portrait">
      <h5>
        {{ staff_member.practicing_since }}
      </h5>
      {% if staff_member.specialty %}
        <h5 class="nomargin-top">
          Specialty: {{ staff_member.specialty }}
        </h5>
      {% endif %}
    </td>
    <td>
      {% for position in staff_member.positions %}
        <h5>{{ position.name }}</h5>
        <h6>{{ position.location }}</h6>
      {% endfor %}
      <table>
        {% for qualification in staff_member.qualifications %}
        <tr>
          <td>
            <strong>{{ qualification.name }}</strong>
          </td>
          <td>
            <!-- List out multiply-defined qualifications -->
            {% if qualification.value and qualification.value.size == 1 %}
              {{ qualification.value }}
            {% elsif qualification.value %}
              <ul class="no-bullet">
                {% for item in qualification.value %}
                  <li>
                    {{ item }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
            {% if qualification.training %}
              <table>
                {% for item in qualification.training %}
                <tr>
                  <td>
                    <strong>{{ item.name }}</strong>
                  </td>
                  <td>
                    <ul class="no-bullet">
                      {% for value in item.values %}
                        <li>
                          {{ value }}
                        </li>
                      {% endfor %}
                    </ul>
                  </td>
                </tr>
                {% endfor %}
              </table>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </td>
  </tr>
  {% endfor %}
</table>
