---
layout: default
format: staff
---
<!-- Copy of page-fullwidth layout -->
{% if page.image.title %}
<div class="row t30">
	<div class="small-12 columns">
		<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
		{% if page.image.caption_url and page.image.caption %}
		<p class="text-right caption">
			<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
		</p>
		{% endif %}
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}


<div class="row t30">
	<div class="medium-12 columns">
		<article>
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1>{{ page.title }}</h1>
			</header>

			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}

      <h2>
        Medical Providers
      </h2>

      <table>
        {% for provider in site.data.staff.medical_providers %}
        <tr>
          <td class="staff-card">
            <h3 class="nomargin">
              {{ provider.name }}
            </h3>
            <img src="{{ provider.image }}" alt="{{ provider.name }}">
            <h5 class="nomargin">
              {{ provider.practicing_since }}
            </h5>
            <h5 class="nomargin">
              Specialty: {{ provider.specialty }}
            </h5>
          </td>
          <td>
            {% for position in provider.positions %}
              <h5>{{ position.name }}</h5>
              <h6>{{ position.location }}</h6>
            {% endfor %}
            <table>
              {% for qualification in provider.qualifications %}
              <tr>
                <td>
                  {{ qualification.name }}
                </td>
                <td>
                  <!-- List out multiply-defined qualifications -->
                  {% if qualification.value.size == 1 %}
                    {{ qualification.value }}
                  {% else %}
                    <ul>
                      {% for item in qualification.value %}
                        <li>
                          {{ item }}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                  {% if qualification.training %}
                    <table>
                      {% for item in qualification.training %}
                      <tr>
                        <td>
                          {{ item.name }}
                        </td>
                        <td>
                          {% for value in item.values %}
                            {{ value }}<br/>
                          {% endfor %}
                        </td>
                      </tr>
                      {% endfor %}
                    </table>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </table>
          </td>
        </tr>
        {% endfor %}
      </table>

      <h2>
        Audiologists
      </h2>

      <ul>
        {% for audiologist in site.data.staff.audiologists %}
        <li>
          - {{ audiologist.name }}
        </li>
        {% endfor %}
      </ul>
		</article>
	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->
